/*
* @Author: chao2015
* @Date:   2018-03-09 11:26:31
* @Last Modified by:   chao2015
* @Last Modified time: 2018-03-11 15:14:35
*/

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    color: #c60023;
    /*去掉下划线*/
    text-decoration: none;
}