/*
* @Author: chao2015
* @Date:   2018-03-09 21:20:02
* @Last Modified by:   chao2015
* @Last Modified time: 2018-03-09 15:25:48
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}